<!DOCTYPE html>
<html>
<head>
    <title>Project HONG - Contract Explorer</title>


<% include template/header_script.ejs %>

<style>
.site_title{text-align: center;}
select{display: block}
.testnet_notice{display:none;color:#ff0000;}

.separator{border-top:1px solid #bbb;border-bottom:1px solid #444;height: 0;margin:10px 0;}
</style>
</head>

<body>


<div class="container">
    <h4 class="site_title">HONG Contract Explorer <span class="testnet_notice">[TESTNET]</span></h4>

    <div>Viewing contract: <%=contract%></div>


    <div class="separator"></div>


    <div>Contract balance: <%=contract.balance.ether%> Ether (<%=contract.balance.wei%> Wei)</div>
    <div>Transaction Count: <%=contract.transaction_count%> </div>
    <div>Current block number: <%=block_number%> </div>



</div>

<script type="text/javascript">

</script>

<% include template/footer.ejs %>

