<!DOCTYPE html>
<html>
<head>
    <title>Project HONG - Contract Explorer</title>


<% include template/header_script.ejs %>

<style>
.site_title{text-align: center;}
select{display: block}
.testnet_notice{display:none;color:#ff0000;}

.separator{
    border-top: 1px solid #efefef;border-bottom: 1px solid #c1c1c1;
    height: 0;margin:10px 0;
}

.block{
    border-radius: 4px;background-color: #fafafa;border:1px solid #ccc;
    margin: 4px 0; padding: 12px 14px;
}
.block_title{font-size: 1.5em;}
.block_summary{font-weight: bold;}

.sub_item{border-left:2px solid #d1d1d1;color:#555;font-size: 0.9em;padding:0 10px;margin-left: 4px;}
.section_separator{margin-top: 10px;}
</style>
</head>

<body>


<div class="container">
    <h4 class="site_title">HONG Contract Explorer <span class="testnet_notice">[TESTNET]</span></h4>

    <div>Viewing contract: <%=contract.address%></div>
    <div>Current block number: <%=block_number%> </div>
    <div>Contract balance: <%=contract.contract_balance.ether%> Ether (<%=contract.contract_balance.wei%> Wei)</div>

    <div class="separator"></div>


    <div>
        <div class="block">
            <div class="block_title">Fund Status</div>

            <% if(contract.isFundLocked){ %>
            <div class="block_summary">Fund is locked</div>
            <% }else{ %>
            <div class="block_summary">Fund is not locked</div>
            <% } %>

            <div>Current contract balance: <%=contract.contract_balance.ether%> Ether </div>
            <div>Total tokens created: <%=contract.totalTokensCreated%> </div>
            <div class="sub_item">bountyTokensCreated: <%=contract.bountyTokensCreated%></div>
            <div class="sub_item">tokensCreated: <%=contract.tokensCreated%></div>

            <div class="section_separator">Related information </div>
            <div>weiPerInitialHONG: <%=contract.weiPerInitialHONG%> Wei</div>
        </div>

    </div>


    <div>currentTier: <%=contract.currentTier%> </div>
    <div>tokensAvailableAtCurrentTier: <%=contract.tokensAvailableAtCurrentTier%> </div>
    <div>divisor: <%=contract.divisor%> </div>

    <div>extraBalanceAccountBalance: <%=contract.extraBalanceAccountBalance%> </div>
    <div>actualBalance: <%=contract.actualBalance%> </div>
    <div>tokensCreated: <%=contract.tokensCreated%> </div>

    <div>managementBodyAddress: <%=contract.managementBodyAddress%> </div>
    <div>closingTime: <%=contract.closingTime%> </div>
    <div>minTokensToCreate: <%=contract.minTokensToCreate%> </div>
    <div>maxTokensToCreate: <%=contract.maxTokensToCreate%> </div>
    <div>tokensPerTier: <%=contract.tokensPerTier%> </div>

    <div>weiPerInitialHONG: <%=contract.weiPerInitialHONG%> </div>
    <div>extraBalance: <%=contract.extraBalance%> </div>
    <div>taxPaid: <%=contract.taxPaid%> </div>
    <div>isFundLocked: <%=contract.isFundLocked%> </div>
    <div>isFundReleased: <%=contract.isFundReleased%> </div>

    <div>isDayThirtyChecked: <%=contract.isDayThirtyChecked%> </div>
    <div>isDaySixtyChecked: <%=contract.isDaySixtyChecked%> </div>
    <div>bountyTokensCreated: <%=contract.bountyTokensCreated%> </div>
    <div>currentFiscalYear: <%=contract.currentFiscalYear%> </div>
    <div>lastKickoffDate: <%=contract.lastKickoffDate%> </div>

    <div>isKickoffEnabled: <%=contract.isKickoffEnabled%> </div>
    <div>isInitialKickoffEnabled: <%=contract.isInitialKickoffEnabled%> </div>
    <div>isFreezeEnabled: <%=contract.isFreezeEnabled%> </div>
    <div>isHarvestEnabled: <%=contract.isHarvestEnabled%> </div>
    <div>isDistributionReady: <%=contract.isDistributionReady%> </div>

    <div>isDistributionInProgress: <%=contract.isDistributionInProgress%> </div>
    <div>ReturnAccount: <%=contract.ReturnAccount%> </div>
    <div>HONGRewardAccount: <%=contract.HONGRewardAccount%> </div>
    <div>ManagementFeePoolWallet: <%=contract.ManagementFeePoolWallet%> </div>
    <div>managementBodyAddress: <%=contract.managementBodyAddress%> </div>


    <div>votedFreeze: <%=contract.votedFreeze%> </div>
    <div>votedHarvest: <%=contract.votedHarvest%> </div>
    <div>returnCollected: <%=contract.returnCollected%> </div>
    <div>supportKickoffQuorum: <%=contract.supportKickoffQuorum%> </div>
    <div>supportFreezeQuorum: <%=contract.supportFreezeQuorum%> </div>

    <div>supportHarvestQuorum: <%=contract.supportHarvestQuorum%> </div>
    <div>totalInitialBalance: <%=contract.totalInitialBalance%> </div>
    <div>annualManagementFee: <%=contract.annualManagementFee%> </div>
    <div>totalRewardToken: <%=contract.totalRewardToken%> </div>



</div>

<script type="text/javascript">

</script>

<% include template/footer.ejs %>

