<!DOCTYPE html>
<html>
<head>
    <title>Project HONG - Contract Explorer</title>


<% include template/header_script.ejs %>

<style>
.site_title{text-align: center;}
select{display: block}
.testnet_notice{display:none;color:#ff0000;}

.separator{
    border-top: 1px solid #efefef;border-bottom: 1px solid #c1c1c1;
    height: 0;margin:10px 0;
}

.block_inner{
    border-radius: 4px;background-color: #fafafa;border:1px solid #ccc;
    margin: 2px 0; padding: 12px 14px;
}
.block_title{font-size: 1.5em;}
.block_summary{font-weight: bold;}

.new_info_section{margin-top:8px;}
.sub_item{border-left:2px solid #d1d1d1;color:#8b8b8b;font-size: 0.9em;padding:0 10px;margin-left: 4px;}

.tips_box{text-align: center;margin: 12px 0;}
.tips_box_inner{background: #ddffdd; padding:6px 12px; border-radius: 4px;display: inline;margin:auto;}
.section_header{padding:4px 6px;border-bottom:1px solid #ddd;font-size: 1.2em;}
.metrics{}
.metrics_inner{
    margin: 6px 0;padding: 8px;border:1px solid #ccc;background-color: #fafafa;
    border-radius: 4px;min-height: 84px;
}
.metrics_inner > span{display: block;}
.number_highlight{font-size: 2em;}
.number_desc{font-size: 0.9em;color:#333;}

.address_info{margin:6px 0;}
.address_info span{
    background-color:#f2f2f2;border:1px solid #d13030;color:#d13030;border-radius: 4px;
    font-family: monospace;padding:4px 6px;display: block;
}
</style>
</head>

<body>


<div class="container">
    <h4 class="site_title">HONG Contract Explorer (for v0.4) <span class="testnet_notice">[TESTNET]</span></h4>

    <div>Viewing contract: <%=data[0].contract_name%> @ <%=contract.address%> [<a href="/">Switch contract</a>]</div>
    <div>Contract nickname: <%=data[0].nickname%></div>
    <div>Current block number: <%=block_number%> </div>

    <div class="separator"></div>


    <div class="tips_box">
        <div class="tips_box_inner">
            Tips: Learn more about the money flux
            <a href="https://github.com/hongcoin/DO/wiki/Money-flux-in-the-HONG-contract" target="_blank">here</a>.
        </div>
    </div>

    <div class="row">
        <div class="col l4 s12 block">
            <div class="block_inner">
                <div class="block_title">Fund Status</div>

                <% if(contract.isFundLocked){ %>
                <div class="block_summary">Fund is locked</div>
                <% }else{ %>
                <div class="block_summary">Fund is not locked</div>
                <% } %>

                <div class="new_info_section">Total balance: <%=totalContractBalance%> Ether </div>
                <div class="sub_item">main account: <%=contract.contractBalance.ether%> Ether </div>
                <div class="sub_item">extraBalance: <%=contract.extraBalanceBalance.ether%> Ether </div>
                <div class="sub_item">HONGRewardAccount: <%=contract.HONGRewardAccountBalance.ether%> Ether </div>
                <div class="sub_item">ManagementFeePoolWallet: <%=contract.ManagementFeePoolWalletBalance.ether%> Ether </div>
                <div class="sub_item">returnAccount: <%=contract.returnAccountBalance.ether%> Ether </div>

                <div class="new_info_section">Total tokens created: <%=contract.totalTokensCreated%> </div>
                <div class="sub_item">bountyTokensCreated: <%=contract.bountyTokensCreated%></div>
                <div class="sub_item">tokensCreated: <%=contract.tokensCreated%></div>

                <div class="new_info_section">Current Fiscal Year: <%=contract.currentFiscalYear%> </div>

            </div>
        </div>
        <div class="col l8 s12 block">
            <div class="block_inner">
                <div class="block_title">Fund Accounts</div>

                <div class="address_info">
                    Main Account (<%=contract.contractBalance.ether %> Ether)
                    <span><%=contract.address%></span>
                </div>
                <div class="address_info">
                    managementBodyAddress (<%=contract.managementBodyAddressBalance.ether %> Ether)
                    <span><%=contract.managementBodyAddress%></span>
                </div>
                <div class="address_info">
                    ManagementFeePoolWallet (<%=contract.ManagementFeePoolWalletBalance.ether %> Ether)
                    <span><%=contract.ManagementFeePoolWallet%></span>
                </div>
                <div class="address_info">
                    extraBalance (<%=contract.extraBalanceBalance.ether %> Ether)
                    <span><%=contract.extraBalance%></span>
                </div>
                <div class="address_info">
                    HONGRewardAccount (<%=contract.HONGRewardAccountBalance.ether %> Ether)
                    <span><%=contract.HONGRewardAccount%></span>
                </div>
                <div class="address_info">
                    ReturnAccount (<%=contract.returnAccountBalance.ether %> Ether)
                    <span><%=contract.ReturnAccount%></span>
                </div>
            </div>
        </div>
    </div>




    <div class="tips_box">
        <div class="tips_box_inner">
            Tips: Learn more about these variables
            <a href="https://github.com/hongcoin/DO/wiki/About-the-Smart-Contract:-Understanding-the-variables" target="_blank">here</a>.
        </div>
    </div>

    <div class="section_header">
      ICO Statistics
    </div>

    <div class="row">
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.tokensCreated%></span>
                <span class="number_desc">Tokens sold</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.bountyTokensCreated%></span>
                <span class="number_desc">Bounty tokens</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isFundLocked%></span>
                <span class="number_desc">Is fund locked</span>
            </div>
        </div>
        <div class="col m8 s12 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.closingTime_formatted%></span>
                <span class="number_desc">ICO closing time (Day 30) (<%=contract.closingTime%>)</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isDayThirtyChecked%></span>
                <span class="number_desc">isDayThirtyChecked</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isDaySixtyChecked%></span>
                <span class="number_desc">isDaySixtyChecked</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.minTokensToCreate%></span>
                <span class="number_desc">minTokensToCreate</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.maxTokensToCreate%></span>
                <span class="number_desc">maxTokensToCreate</span>
            </div>
        </div>
    </div>

    <div class="section_header">
        ICO: Fund price logic
    </div>

    <div class="row">
        <div class="col m3 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.currentTier%></span>
                <span class="number_desc">Current price tier</span>
            </div>
        </div>
        <div class="col m3 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.divisor%></span>
                <span class="number_desc">Divisor</span>
            </div>
        </div>
        <div class="col m3 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.tokensPerTier%></span>
                <span class="number_desc">tokensPerTier</span>
            </div>
        </div>
        <div class="col m3 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.tokensAvailableAtCurrentTier%></span>
                <span class="number_desc">tokensAvailableAtCurrentTier</span>
            </div>
        </div>
        <div class="col m9 s12 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.extraBalanceAccountBalance%></span>
                <span class="number_desc">extraBalanceAccountBalance</span>
            </div>
        </div>
        <div class="col m3 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo (<%=contract.taxPaid%>)</span>
                <span class="number_desc">taxPaid</span>
            </div>
        </div>
    </div>

    <div class="section_header">
        Kickoff the first fiscal year
    </div>

    <div class="row">
        <div class="col m6 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isInitialKickoffEnabled%></span>
                <span class="number_desc">Is inital kickoff enabled</span>
            </div>
        </div>

        <div class="col m6 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.lastKickoffDate_formatted %></span>
                <span class="number_desc">Last kickoff datetime (<%=contract.lastKickoffDate %>)</span>
            </div>
        </div>

        <div class="col m6 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.totalInitialBalance%></span>
                <span class="number_desc">Total initial balance</span>
            </div>
        </div>
        <div class="col m6 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.annualManagementFee%></span>
                <span class="number_desc">Annual Management Fee</span>
            </div>
        </div>

        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo<%=contract.votedKickoff%></span>
                <span class="number_desc">Voted kickoff for Year 1</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportKickoffQuorum_1 %> / <%=contract.totalTokensCreated %>
                    (<%=contract.supportKickoffQuorumPercentage_1 %>%)
                </span>
                <span class="number_desc">support kickoff quorum for Year 1</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isKickoffEnabled_1 %></span>
                <span class="number_desc">is kickoff enabled for Year 1 (&gt; 25%)</span>
            </div>
        </div>

    </div>

    <div class="section_header">
        Year 1 - 3 Operation
    </div>

    <div class="row">

        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo<%=contract.votedKickoff%></span>
                <span class="number_desc">Voted kickoff for Year 2</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportKickoffQuorum_2%> / <%=contract.totalTokensCreated%>
                    (<%=contract.supportKickoffQuorumPercentage_2%>%)
                </span>
                <span class="number_desc">support kickoff quorum for Year 2</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isKickoffEnabled_2 %></span>
                <span class="number_desc">is kickoff enabled for Year 2 (&gt; 25%)</span>
            </div>
        </div>

        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo<%=contract.votedKickoff%></span>
                <span class="number_desc">Voted kickoff for Year 3</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportKickoffQuorum_3%> / <%=contract.totalTokensCreated%>
                    (<%=contract.supportKickoffQuorumPercentage_3%>%)
                </span>
                <span class="number_desc">support kickoff quorum for Year 3</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isKickoffEnabled_3 %></span>
                <span class="number_desc">is kickoff enabled for Year 3 (&gt; 25%)</span>
            </div>
        </div>

        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo <%=contract.votedFreeze%></span>
                <span class="number_desc">Voted Freeze</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportFreezeQuorum%> / <%=contract.totalTokensCreated%>
                    (<%=contract.supportFreezeQuorumPercentage %>%)
                </span>
                <span class="number_desc">support Freeze quorum</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isFreezeEnabled%></span>
                <span class="number_desc">Is Freeze enabled (&gt; 50%)</span>
            </div>
        </div>
    </div>

    <div class="section_header">
      Year 4 Operation
    </div>


    <div class="row">
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo<%=contract.votedKickoff%></span>
                <span class="number_desc">Voted kickoff for Year 4</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportKickoffQuorum_4 %> / <%=contract.totalTokensCreated %>
                    (<%=contract.supportKickoffQuorumPercentage_4 %>%)
                </span>
                <span class="number_desc">support kickoff quorum for Year 4</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isKickoffEnabled_4 %></span>
                <span class="number_desc">is kickoff enabled for Year 4 (&gt; 25%)</span>
            </div>
        </div>

        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">// todo <%=contract.votedHarvest%></span>
                <span class="number_desc">Voted Harvest</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight">
                    <%=contract.supportHarvestQuorum %> / <%=contract.totalTokensCreated %>
                    (<%=contract.supportHarvestQuorumPercentage %>%)
                </span>
                <span class="number_desc">support harvest quorum</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isHarvestEnabled%></span>
                <span class="number_desc">is Harvest enabled (&gt; 50%)</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isDistributionInProgress%></span>
                <span class="number_desc">is Distribution in Progress</span>
            </div>
        </div>
        <div class="col m4 s6 metrics">
            <div class="metrics_inner">
                <span class="number_highlight"><%=contract.isDistributionReady%></span>
                <span class="number_desc">is Distribution in Ready</span>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

</script>

<% include template/footer.ejs %>
